.scroll-container {
  height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr [col-start]);
  grid-auto-rows: auto;
  gap: 1ch;
  padding: 1ch;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:active {
  box-shadow: 0 2px lightgray;
  transform: translateY(2px);
}

.card:hover {
  cursor: pointer;
}

.favorite {
  color: rgb(255, 151, 169)
}

.not-favorite {
  color: rgba(255, 192, 203, 0.35)
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.centering {
  display: flex;
  justify-content: space-evenly;
}

.expand {
  height: 15vh;
}